<%# form per inserire gli ingredienti quando si aggiunge una nuova ricetta in recipes/new%>
<p>
  <%= f.label :ingrediente %>
  <%= f.text_field :ingrediente %>
  <%= f.label "quantità" %>
  <%= f.text_field :quantit %>
  <%= f.label "peso/numero" %>
  <%= f.select :tipoquantit, ['grammi', 'numero'], :id => 'tq' %>

</p>