<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row-fluid">
    <div class="span4">
      <h1>Ricette</h1>
    </div>
    <div class="span4">

    </div>
    <div class="span4">
      <%= render 'searches/search' %>

    </div>
  </div>
  <div class="row-fluid">

    <div class="span4">

      <h3>Ricettario</h3>
      <%= link_to image_tag("ricettario2.png"), cookbook_path %>

    </div>

    <div class="span3">
      <%#visualizza una ricetta consigliata in base agli ingredienti %>
      <h3>Ricetta consigliata</h3>
      <%= link_to image_tag("antipasto.jpg"), recipe_path(@advice) %>
      <h4>
        <%= link_to @advice.name, recipe_path(@advice) %> </p>
      </h4>


    </div>

    <div class="span4 offset1">
      <%#Visualizza un cuoco consigliato%>
      <h3>Cuoco consigliato</h3>

      <div class="row-fluid">
        <div class="span12">
          <%=link_to gravatar_for(@cook, size: 300), @cook %> </br>
        </div>
        <div class="span12">
          <div class="row-fluid">
            <h5>Nome: <%= link_to @cook.name, user_path(@cook.id) %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <h3>Ricette recenti</h3>

      <%= render @recipe_all %>

    </div>
  </div>


</div>




