<div class="well sidebar-nav sidebar-nav-fixed">
  <ul class="nav nav-list">

    <%= link_to image_tag("f_home.png"), root_path %>
    <%= link_to image_tag("f_ricette.png"), homerecipes_path %>
    <%= link_to image_tag("f_menu.png"), homemenu_path %>
    <%= link_to image_tag("f_follow.png"), followers_user_path(current_user) %>
    <%= link_to image_tag("f_profilo.png"), current_user %>
    <%= link_to image_tag("f_posta.png"), messages_user_path(current_user) %>
    <%= link_to image_tag("f_faq.png"), faq_path %>
  </ul>
</div><!--/.well -->
</div><!--/span-->


